<!DOCTYPE html>
<html ng-app="TrackerApp">

<head>
    <title>UX training</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="TrackerStyles.css">

    <script src="angular.js"></script>
    <script src="app.js"></script>
    <script src="appname.service.js"></script>
    <script src="tracker.controller.js"></script>
    <script src="associatedata.service.js"></script>
</head>

<body class="bg-dark">

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="Homepage.html">Dashboard</a>

        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="CourseSchedule.html">Course Schedule</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="todolist html page.html">To-do List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="tracker.html">Tracker</a>
            </li>

        </ul>
    </nav>
    <br>

    <div class="container" ng-controller="TrackerCtrl as TCtrl">
        <div class="row">
            <div class="col-md-2">
                <span>Associate</span>
            </div>
            <div class="col-md-2">
                <div>
                    <button ng-hide="TCtrl.editMode" ng-click="TCtrl.editCourse()">Edit</button>
                    <button ng-show="TCtrl.editMode" ng-click="TCtrl.saveCourse()">Save</button>
                </div>
            </div>
            <div class="col-md-4" >
                <div class="alert alert-success" ng-if="TCtrl.successMessage">{{TCtrl.successMessage}} </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div ng-repeat="associate in TCtrl.associates" ng-click="TCtrl.selectAssociate($index)">
                    <span>{{associate.name}}</span>
                </div>
            </div>
        </div>
        <br>
        <div class="row" ng-show="TCtrl.showCourse" ng-repeat="course in TCtrl.associateCourses">
            <div class="col-md-2">
                <span ng-hide="TCtrl.editMode">{{course.courseName}}</span>
                <input ng-show="TCtrl.editMode" type="text" ng-model="course.courseName">
            </div>
            <div class="col-md-2">
                <span ng-hide="TCtrl.editMode">{{course.startDate}}</span>
                <input ng-show="TCtrl.editMode" type="text" ng-model="course.startDate">
            </div>
            <div class="col-md-2">
                <span ng-hide="TCtrl.editMode">{{course.endDate}}</span>
                <input ng-show="TCtrl.editMode" type="text" ng-model="course.endDate">
            </div>
            <div class="col-md-2">
                <span ng-hide="TCtrl.editMode">{{course.duration}}</span>
                <input ng-show="TCtrl.editMode" type="text" ng-model="course.duration">
            </div>
        </div>
    </div>
    


</body>

</html>